body
{
width:1000px;
margin:0 auto;
background:#212126;

}

#caixaPrincipal
{
width:100%;
box-sizing:border-box;
float:left;
min-height:900px;

}

#caixaColunas 
{
width:300px;
/* background:rgba(30, 32, 54,.7); */
float:left;

}

#menu
{
float:left;
width:100%;
}

#menu label
{

display:inline-block;
text-align:center;
float:left; 
padding:5px;
font-size:25px;
color:#fff;
box-sizing:border-box;
font-family:Jamrul;
background:rgba(0,0,0,.3);
}

.custonSize
{
width:100%;
}

.custonSize2
{
width:50%;
}

.col
{

float:left;
width:100%;
}


.listaColunas
{
padding:0;
float:left;
width:100%;
list-style:none;
margin:0;

}

.listaColunas li
{
color:#fff;
font-family:Garuda;
font-size:20px;
text-align:center;
padding:5px;
}



.listaColunas li input
{
display:none; 
}



#caixaCarta 
{
width:70%;
background:rgb(14, 14, 15,.4); 
float:left;
min-height:900px;

}


#menu
{
list-style:none;
}

#menu label div input[type=radio]
{
display:none;
}

#barraControles
{
text-align:center;


}



#caixaVel
{
width:300px;
/* margin-left:400px; */ 

display:inline-block;

}

#carta
{
width:200px;
height:300px;
border: 2px solid #222;
margin:18px auto; 
font-size:70px;
padding-top:12%; 
box-sizing:border-box;
text-align:center;
background:#fff;
font-family:arial; 
}

#caixaBotoes
{
text-align:center;
}

.formataTxt1
{
color:#fff;
font-family:arial;


}



.fundoPreto1
{
background:rgba(36, 33, 33,.6);
cursor:pointer;
}

.fundoSel1
{
background:#db6a00;
cursor:default;
}

.fundoSel2
{
background:#41417a;

}


.estiloBt
{
width:140px;
text-align:center;

}

.custonHover
{

 cursor:pointer;

}